.book_img {

    height:104px;
    width:54px;

}

.book {

    position:relative;
    margin:14px 0;

}

.book_overlay {

    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #000;
    font-style:italic;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;

}

.book:hover .book_overlay {

    height: 100%;
    bottom: 0;

}

.book_info {

    display:flex;

}

.book_description {

    color: white;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding:4px;

}

.book_title, .book_author {

    width:148px;
    margin-inline:14px;
    padding-right:40px;

}

nav {

    margin-bottom:40px;
    display:flex;
    justify-content:center;

}




