{% extends 'base.html' %}

{% block head %}

    <link rel = "stylesheet" href = "../static/css/blog.css">

{% endblock %}

{% block body %}

        <div class = "title_wrapper">
            <div class = 'title'>
                Google's feature to practice for the job interview with the AI is awesome!
            </div>
        </div>

        <div class = "main_content_wrapper">
            <div class = "main_content">

                <div class = "blog_intro">
                    <div class = "blog_content_wrapper">
                        <div class = "blog_intro_content">
                            Now I'll know how to answer all the important questions.
                        </div>
                    </div>
                    <div class = "blog_intro_image">
                        <img class = "blog_intro_img" src = "../static/images/blogs/AI_job.jpg">
                    </div>
                </div>
                <div class = "blog_content_wrapper">
                    <div class = "blog_content">
                        <p>
                            Google just beat any generic guides or mock interviews by making <a class = "blog_link" href = "https://grow.google/certificates/interview-warmup/">Interview Warmup</a>
                            tool that uses AI as a preparation for job interview. It is a part of its Grow with Google and Career Certificates initiatives.
                            The AI tool asks typical questions (such as the classic "tell me a bit about yourself") and analyzes your responses, briefing you for areas of improvement.
                            Your responses can be either voiced or typed.
                            You'll know when you overuse certain words, for instance, and be given similar suggestions to those used words.
                            You'll also know if you need to spend more time talking about a given subject.

                        </p>

                            <iframe width="100%" height="360" src="https://www.youtube.com/embed/KKfAuQrwzTY"></iframe>

                        <p class = "blog_more">
                            Interview Warmup is aimed at users hoping to land work, and most of its role-specific questions reflect this.
                            Several job types are available to help focus the questions: Data Analytics, E-Commerce, IT Support, Project Management, UX Design, or General.
                            There are general interview questions, though, and Google plans to expand the tool to help more candidates.
                            It is a fact that AI has increasingly been used in recruitment.
                            However potential new hires have been showing stigma towards using AI tools so far.
                            Thus it has mainly served companies during their selection process.
                            This will definitely make you brush up your interview skills.
                            This tool has only one downside: currently it's only available in the US.
                        </p>

                    </div>
                </div>
            </div>
        </div>

<script src = "../static/js/blog.js"></script>

{% endblock %}