{% extends 'base.html' %}

{% block head %}

    <link rel = "stylesheet" href = "../static/css/blog.css">

{% endblock %}

{% block body %}

        <div class = "title_wrapper">
            <div class = 'title'>
                The Evercade VS captures the spirit of retro gaming
            </div>
        </div>

        <div class = "main_content_wrapper">
            <div class = "main_content">

                <div class = "blog_intro">
                    <div class = "blog_content_wrapper">
                        <div class = "blog_intro_content">
                            The cartridge-based retro console has many secrets to unlock.
                        </div>
                    </div>
                    <div class = "blog_intro_image">
                        <img class = "blog_intro_img" src = "../static/images/blogs/evercade_system_1.jpg">
                    </div>
                </div>
                <div class = "blog_content_wrapper">
                    <div class = "blog_content">
                        <p>
                            The idea of potentially unlimited games through actual cartridges was both clever and brave.
                            The new version is finally here and it brings a few interesting perks over its handheld sibling.
                            You can play on one system, save your game and pick it up on the other (just like you’d hope, to be fair).
                            The VS is so light, you’ll definitely want to make sure your HDMI cable has some slack in it, else it’ll lift the VS off the ground or pull it back behind your TV.
                            The good news is that almost any USB port will power it.

                        </p>

                        <img class = "blog_content_img" src = "../static/images/blogs/evercade_system_2.jpg">

                        <p>
                        <p>
                        Evercade has tried to strike a balance between modern features and retro authenticity.
                        Save states are one modern concession but most other things — such as cheat codes or in-game recording — are absent.
                        The same goes for the visual look and feel. Under the settings menu, you have three display options: Original Ratio, Pixel Perfect and Full Screen.
                        It’s always nice to have options as modern TVs are very different to what you might have plugged the original hardware into.
                        But all told, the menu is simple and clear and all the better for it.

                        <img class = "blog_content_img" src = "../static/images/blogs/evercade_system_3.jpg" style = "margin-top:4%">

                        </p>
                            One intriguing option in the menu is “Secret.” Here you’ll be asked to enter a code.
                            What the code/s is/are, well, a secret, but one can presume it unlocks some extra games or content.
                            Along the same theme, there are hidden games on the console itself a-la Snail Maze on the Sega Master System.

                            And… there are more things to unlock, too.
                            Evercade has hinted that certain cartridge combinations, when inserted together, will unlock hidden titles.
                            I was able to find two such secret games with the cartridges I have here, and there are definitely more.

                            Each cartridge says how many games are in the collection on the front, so if both have 10, the UI might say 21. Then you might have to check the back of the box to find which game that’s now
                            in your list isn’t officially mentioned on either cartridge’s box. Thanks to the VS’s WiFi connection, this is theoretically something that can be expanded over time, too.
                            A nice, fun touch nonetheless — especially for collectors.
                        </p>

                        <p class = "blog_more">
                            All in all, the Evercade VS is a pleasant surprise. The cartridge-based model will always be appealing to some and a deterrent to others.
                            But for those who love rarities and a good dollop of nostalgia, the Evercade ecosystem is shaping up to be more than just a gimmick.
                            With the recent wave of new indie games also making it to the platform it could find itself being a vibrant platform for new games, too.
                            One where indie developers can not only enjoy seeing their games have a physical release, but find new audiences, and that’s never a bad thing.
                        </p>

                    </div>
                </div>
            </div>
        </div>

<script src = "../static/js/blog.js"></script>

{% endblock %}