{% extends 'base.html' %}

{% block head %}

    <link rel = "stylesheet" href = "../static/css/blog.css">

{% endblock %}

{% block body %}

        <div class = "title_wrapper">
            <div class = 'title'>
                How I stopped worrying and learned to love the bomb
            </div>
        </div>

        <div class = "main_content_wrapper">
            <div class = "main_content">
                <div class = "blog_intro">
                    <div class = "blog_content_wrapper">
                        <div class = "blog_intro_content">
                            Burnout is something that you must fight pretty much on a daily basis if you want to thrive as a software engineer
                        </div>
                    </div>
                    <div class = "blog_intro_image">
                        <img class = "blog_intro_img" src = "../static/images/blogs/all_workflow_stages.jpg">
                    </div>
                </div>
                <div class = "blog_content_wrapper">
                    <div class = "blog_content">
                        <p>
                            Everyone will sooner or later feel burned out by work stress. I was there myself.
                            Programming can be very stressful and time consuming.
                            Sadly, clinics officially don't yet separate burnout from stress.
                            Thus, it was hard to get info on how to prevent burnout from coding.

                        </p>

                        <p>
                            The good thing about burnout, although there are still things to be discovered related to it,
                            is that it is heavily linked to stress, which is very thoroughly researched.
                            It comes down to managing your resources and eliminating stress factors.
                        </p>
                        <p>
                            Programming culture values comparing ourselves to others and trying to be better than the next guy.
                            In addition to techs always receiving new updates and accordingly needing adjustments to use,
                            this can lead to some unprecedented levels of stress. Stress by itself isn't bad, in moderate amounts.
                            For instance, I am experiencing some mild stress while writing this blogpost.
                            The problem comes when the amount of work stress becomes too large.
                            Stress responses are rooted within us on very deep levels (equivalent to BIOS in computers).
                            Furthermore, many coders for some reason see rest as a sign of weakness.
                            However, you must manage your time to only work as much as you need to attain specific, relevant goal at hand, and not more than that.
                            Everything else would upset your stress receptors and potentially lead to your burnout.
                        </p>

                        <img class = "blog_content_img" src = "../static/images/blogs/yoga_mountain_top.jpg">


                        <div class = "blog_subtitle">
                            Your body
                        </div>
                        <p>
                            You probably know what you gotta do, but you gotta make sure to <span class = "blog_span">actually</span> do it.
                            Working out releases "happy/feel-good" hormones called endorphines which make you more productive.
                            Dancing counts as exercise, so you can spend some time listening to your favorite tunes and relaxing.
                            Get a reusable water bottle or invest in a smart water bottle. Not only will it be good for your health, it will also lead to improved sleep routine.
                        </p>
                        <div class = "blog_subtitle">
                            Managing stress
                        </div>
                        <p class = "blog_more">
                            It is very important to take a pro-active approach in stress manage and actually turning stress reduction into your focus.
                            The less affected you are by excessive stress, the more effective you'll be. Embrace yoga, conscious relaxation techniques, meditation,
                            and other mindfulness techniques.
                            How resilient you are in the face of stress is determined by a complex set of biological and environmental factors. Your relationship with stress
                            can improve if you put in the work to it, rather than putting all into the work and letting stress come to you.
                        </p>

                    </div>
                </div>
            </div>
        </div>

<script src = "../static/js/blog.js"></script>

{% endblock %}