{% extends 'base.html' %}

  {% block head %}

    <link rel = "stylesheet" href = "{{ url_for('static', filename = '/css/memory.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  {% endblock %}

{% block body %}

        <div class = "title_wrapper">
            <div class = 'title'>
                Memory game
            </div>
        </div>

        <div class = "main_content_wrapper">
            <div class = "main_content">

                <div class = "grid">
                    {% for i in range(4) %}
                        <div class = "grid_row">
                            {% for j in range (4) %}
                                <div class = "grid_element">

                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>

                <div id = "new_game">

                </div>

            </div>
        </div>

<script src = "{{ url_for('static', filename = 'js/memory.js') }}"></script>

{% endblock %}

