<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% block head %}

    <link rel = "stylesheet" href = "{{ url_for('static', filename = '/css/base.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap" rel="stylesheet">

  {% endblock %}

</head>

<body>

{% block body %}



{% endblock %}

  <script src = "{{ url_for('static', filename = '/js/base.js') }}"></script>

</body>
</html>