{% extends 'base.html' %}

{% block head %}

    <link rel = "stylesheet" href = "../static/css/blog.css">

{% endblock %}

{% block body %}

        <div class = "title_wrapper">
            <div class = 'title'>
                Blog
            </div>
        </div>

        <div class = "main_content_wrapper">
            <div class = "main_content">

                {% for blog in blogs %}
                <a class = "link_blog" href = "/">
                    <div class = "blog_selection">
                            <img class = "blog_selection_img" src = "{{ blog.img }}">
                            <div class = "blog_selection_content">
                                <div class = "blog_selection_title">
                                        {{ blog.title }}
                                </div>
                                <div class = "blog_selection_subtitle">
                                        {{ blog.subtitle }}
                                </div>
                            </div>
                    </div>
                </a>
                {% endfor %}

            </div>
        </div>

<script src = "../static/js/blog.js"></script>

{% endblock %}